// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  alberdi:    #15A346
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: #15A346;
$toolbar-ios-border-color: #2d4837;
$toolbar-ios-button-color: #ffffff;
$toolbar-ios-title-text-color: #15A346;
$toolbar-ios-text-color: #ffffff;
$toolbar-ios-active-color: #ffffff;
$toolbar-ios-inactive-color: #ffffff;
$tabs-ios-tab-icon-color-active: #15A346;
$tabs-ios-tab-text-color-active: #15A346;
$toolbar-ios-title-text-color: #ffffff;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background: #15A346;
$toolbar-md-border-color: #2d4837;
$toolbar-md-button-color: #ffffff;
$toolbar-md-title-text-color: #15A346;
$toolbar-md-text-color: #ffffff;
$toolbar-md-active-color: #ffffff;
$toolbar-md-inactive-color: #ffffff;
$tabs-md-tab-icon-color-active: #15A346;
$tabs-md-tab-text-color-active: #15A346;
$toolbar-md-title-text-color:  #ffffff;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-background: #15A346;
$toolbar-wp-border-color: #2d4837;
$toolbar-wp-button-color: #ffffff;
$toolbar-wp-title-text-color: #15A346;
$toolbar-wp-text-color: #ffffff;
$toolbar-wp-active-color: #ffffff;
$toolbar-wp-inactive-color: #ffffff;
$tabs-wp-tab-icon-color-active: #15A346;
$tabs-wp-tab-text-color-active: #15A346;
$toolbar-wp-title-text-color:  #ffffff;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
