page-sucursal {
    ion-card.adv-map h2 {
        white-space: normal;
    }

    ion-card.adv-map p {
        font-size: 0.7em !important;
    }
         
    .item-bold {
        font-weight: bold;
    }
}
