page-tablero {
   ion-row {
        background-color: #ffffff;
        margin-bottom: 2px;
        font-size: 1.8rem;
    }

    .cotizacion-normal{
        color: #000000;
        background: rgba(224, 224, 224, 0.5);
        text-align: center;
        padding: 10px 0px !important;
    }

    .cotizacion-baja{
        color: #00944C;
        background: rgba(204, 255, 204, 0.5);
        text-align: center;
        padding: 10px 0px !important;
        font-weight: bold;
    }

    .cotizacion-sube{
        color: #990000;
        background: rgba(254, 204, 204, 0.5);
        text-align: center;
        padding: 10px 0px !important;
        font-weight: bold;
    }

    [col-2]{
        padding: 0px;
    }

    [col-3]{
        padding: 0px 5px;
    }

    [col-4]{
        font-size: 1.4rem !important;
    }
}
